.basic312/
.basic_312/
.s4_venv/
.logs/

legacy
core/__pycache__/
core/generation/__pycache__/
core/utils/__pycache__/
core/clustering/__pycache__/
core/feature_extraction/__pycache__/
__pycache__
scripts/learning_results/

nir_folder/
s4/
data/
CoST/
ts2vec/
n_beats/
neural_prophet/
experiments/

*.xlsx
*.csv
*.pyc
*.pt
*.pth
*.png