.basic312/
.s4_venv/
.logs/

legacy
core/__pycache__/
core/generation/__pycache__/
core/utils/__pycache__/
core/clustering/__pycache__/
core/feature_extraction/__pycache__/
__pycache__

nir_folder/
s4/
data/

*.xlsx
*.csv
*.pyc